/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

    /* Bottoni */
.blue-btn {
    background-color: #0061FE;
    color: white;
    padding: 10px 20px;
}

.blue-btn:hover {
    background-color: #639fff;
}

/* Regole header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.header-side {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    margin: auto;
}

header a {
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    border: 2px solid white;
}

.header-side>a {
    color: black;
    padding: 14px;
    align-content: center;
}

.buttons {
    padding: 20px;
}

header .buttons a:first-child {
    padding: 10px;
    color: black;
}

.header-link:hover {
    border-bottom: 2px solid black;
}


/* Regole contenuto principale */

.box {
    display: flex;

    /* DEBUG */
    width: 100%;
    height: 100%;
}

    /* Jumbo */
.jumbo {
    background-color: #B4D0E6;
    width: 100%;

    /* DEBUG */
    height: 800px;
}

.jumbo-box {
    width: 70%;
    margin: 0  auto;
    height: 100%;
}

.jumbo h1 {
    font-size: 70px;
    font-weight: 900;
    padding-top: 60px;
    padding-bottom: 40px;
}

.jumbo .box {
    height: 60%;
}

.jumbo .text-box {
    width: 35%;
    height: 100%;
}

.jumbo .text-box p:first-child {
    margin-bottom: 40px;
}

.jumbo .text-box p:last-child {
    margin-top: 40px;
}

.jumbo .img-box {
    width: 65%;
    height: 100%;
}

.jumbo .img-box img {
    width: 120%;
    height: auto;
}


    /* Container */
.container {
    width: 60%;
    margin: 0 auto;
}

    /* Piani business */
.business-plan {
    /* DEBUG */
    background-color: yellow;
    height: 800px;
    width: 100%;
}

.business-plan .box {
    justify-content: space-between;
}

.business-column {
    width: 30%;
    height: 100%;

    /* DEBUG */
    background-color: aqua;
}

.business-bottom {
    width: 100%;

    /* DEBUG */
    height: 300px;
    background-color: aqua;
    border: solid 1px black;
}

    /* Trova un partner */
.find-partner {
    /* DEBUG */
    height: 400px;
    background-color: blue;
}

.find-partner .img-box {
    width: 60%;

    /* DEBUG */
    background-color: green;
    height: 100%;
}

.find-partner .text-box {
    width: 40%;

    /* DEBUG */
    background-color: orange;
    height: 100%;
}

    /* Operazioni dropbox business */
.op-dropbox-business {
    /* DEBUG */
    height: 800px;
    background-color: aquamarine;
}

.op-dropbox-business h1 {
    height: 10%;
}

.op-dropbox-business>.box {
    height: 45%;
    justify-content: space-between;
}

.op-dropbox-business>.box>.box {
    flex-direction: column;
    width: 30%;
}

.op-dropbox-business .img-box {
    /* DEBUG */
    height: 50%;
    background-color: green;
}

.op-dropbox-business .text-box {
    /* DEBUG */
    height: 50%;
    background-color: orange;
}

    /* Blocco finale */
.main-bottom {
    /* DEBUG */
    background-color: gray;
    height: 200px;
}

/* Footer */
footer {
    /* DEBUG */
    background-color: black;
    height: 400px;
}

.footer-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.footer-container>.box {
    height: 80%;
}

footer .nav-menu-column {
    width: 20%;
    height: 100%;

    /* DEBUG */
    border: 1px solid white;
}

footer .select-language {
    height: 20%;

    /* DEBUG */
    width: 20%;
    border: 1px solid white;
}