/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

    /* Bottoni */
.blue-btn {
    background-color: #0061FE;
    color: white;
    padding: 10px 20px;
}

.blue-btn:hover {
    background-color: #639fff;
}

/* Regole header */
header {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
}

.header-side {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    margin: auto;
}

header a {
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    border: 2px solid white;
}

.header-side>a {
    color: black;
    padding: 14px;
    align-content: center;
}

.buttons {
    padding: 20px;
}

header .buttons a:first-child {
    padding: 10px;
    color: black;
}

.header-link:hover {
    border-bottom: 2px solid black;
}


/* Regole contenuto principale */

.box {
    display: flex;

    /* DEBUG */
    width: 100%;
    height: 100%;
}

    /* Jumbo */
.jumbo {
    background-color: #B4D0E6;
    width: 100%;
    margin-top: 80px;

    /* DEBUG */
    height: 800px;
}

.jumbo-box {
    width: 70%;
    margin: 0  auto;
    height: 100%;
}

.jumbo h1 {
    font-size: 70px;
    font-weight: 900;
    padding-top: 60px;
    padding-bottom: 40px;
}

.jumbo .box {
    height: 60%;
}

.jumbo .text-box {
    width: 35%;
    height: 100%;
}

.jumbo .text-box p:first-child {
    margin-bottom: 40px;
}

.jumbo .text-box p:last-child {
    margin-top: 40px;
}

.jumbo .img-box {
    width: 65%;
    height: 100%;
}

.jumbo .img-box img {
    width: 120%;
    height: auto;
}


    /* Container */
.container {
    width: 60%;
    margin: 0 auto;
}

    /* Piani business */
.business-plan {
    width: 100%;
}

.business-plan>h1 {
    padding-top: 50px;
}

.checkbox {
    padding: 50px 0;
}

.checkbox>span {
    padding-right: 30px;
    font-size: 12px;
}

.business-plan .box {
    justify-content: space-between;
}

.business-plan p {
    font-size: 13px;
}

.business-column .btn {
    font-size: 12px;
    width: 100%;
    display: block;
    text-align: center;
}

.business-column {
    width: 31%;
    font-size: 14px;
    border: 1px solid grey;
}

.bus-col-container {
    width: 80%;
    margin: 0 auto;
}

.plan-title {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid grey;
}

.plan-name {
    padding: 30px 0 20px 0;
}

.price {
    margin-bottom: 20px;
}

.price :first-child {
    font-weight: bold;
    padding-bottom: 10px;
}

.plan-charact>p {
    padding-bottom: 10px;
}

.plan-charact {
    margin-bottom: 30px;
    width: 100%;
}

.buy-now {
    padding: 30px 0;
}

.punti-salienti {
    padding: 50px 0 20px 0;
}

.punti-salienti p {
    padding-top: 20px;
}

.punti-salienti p i {
    color: #0061FE;
}

.punti-salienti p:last-child {
    padding-bottom: 20px;
}

.business-bottom {
    width: 100%;
    margin-top: 50px;
    border: solid 1px grey;
}

.business-bottom-container {
    margin: 20px;
}

.business-bottom .box {
    height: auto;
    width: auto;
}

.business-bottom .plan-name {
    padding: 0;
}

.business-bottom .btn {
    font-size: 12px;
}

.business-bottom .price {
    padding-top: 10px;
}

.business-bottom-container>p {
    width: 60%;
    padding: 20px 0;
}

    /* Trova un partner */
.find-partner {
    margin-top: 200px;
}

.find-partner .img-box {
    width: 60%;
}

.find-partner .img-box>img {
    width: 100%;
    height: auto;
}

.find-partner .text-box {
    width: 40%;
    padding-left: 30px;
}

.find-partner .text-box>h2 {
    padding: 40px 0 20px 0;
}

.find-partner .text-box p {
    padding-bottom: 30px;
}

.find-partner .text-box .btn {
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 10px;
}

    /* Operazioni dropbox business */
.op-dropbox-business {
    margin-top: 150px;
}

.op-dropbox-business h1 {
    padding-bottom: 40px;
}

.op-dropbox-business>.box {
    justify-content: space-between;
}

.op-dropbox-business>.box>.box {
    flex-direction: column;
    width: 30%;
}

.op-dropbox-business .img-box {
    padding-bottom: 20px;
}

.op-dropbox-business .img-box img {
    width: 100%;
    height: auto;
}

.op-dropbox-business .text-box {
    padding-bottom: 40px;
}

.op-dropbox-business .text-box h2 {
    font-size: 20px;
    padding-bottom: 20px;
}

.op-dropbox-business .text-box p {
    font-size: 14px;
}

    /* Blocco finale */
.main-bottom {
    padding: 150px 0;
}

.main-bottom h1 {
    width: 60%;
    padding-bottom: 40px;
}

/* Footer */
footer {
    color: white;
    background-color: black;
}

.footer-container {
    width: 70%;
    margin: 0 auto 40px auto;
    
}

footer .nav-menu-column {
    width: 20%;
    padding: 80px 0;
}

footer .nav-menu-column ul {
    list-style: none;
}

footer .nav-menu-column ul li:first-child {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

footer .nav-menu-column li {
    padding: 10px 0;
    font-size: 14px;
}

footer .select-language {
    display: inline;
    color: grey;
    border-top: 1px solid white;
    padding-top: 40px;
}

footer .select-language i:first-child {
    padding-right: 5px;
}